@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --olive-green: #a0a779;
}

/* Variáveis CSS customizadas para cores e fontes */
:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-olive-green: var(--olive-green);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-serif: var(--font-playfair);
}

/* Classe utilitária para a cor olive-green */
.text-olive-green {
  color: var(--olive-green);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lavishly-yours), Arial, Helvetica, sans-serif;
}
